{% extends 'base.html' %}

{% block title %}
  <title>Email confirmed</title>
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('.static', filename='css/approve.css') }}">
{% endblock %}

{% block body %}
<article>
  <section class="container">
    <div class="centered-container">
      <h2 class="heading-2">Confirmation succeeded!</h2>
      <p class="para">
        Account has been confirmed successfully. Now you can login and start uploading!
      </p>
      <div class="btn-align">
        <a href="{{ url_for('home.index') }}" class="container-btn">Share art</a>
      </div>
    </div>
  </section>
</article>
{% endblock %}
