{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('.static', filename='css/form.css') }}">
{% endblock %}

{% block body %}
  <article>
    <div>
      {% if all_posts %}
        {% for index, tuple1, tuple2 in all_posts %}
          <form action="/confirm_approval" method="post">
            <img src="https://mofoa-images.s3.eu-central-1.amazonaws.com/static/images/uploads/{{index}}" alt="{{ name }}" width="240" height="240">
            <input type="hidden" name="name" value="{{ tuple1 }}">
            <input type="hidden" name="post" value="{{ index }}">
            <p>{{ tuple1 }}</p>
            <p>{{ tuple2 }}</p>
            <input type="submit" name="submit" value="submit">
          </form>
        {% endfor %}
      {% else %}
        <h1>No posts pending</h1>
      {% endif %}
    </div>
  </article>
{% endblock %}
